@tailwind base;
@tailwind components;
@tailwind utilities;
/* Dans votre fichier CSS global ou en style inline */
/* Dans votre CSS global */
@keyframes float-slow {

  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }

  33% {
    transform: translateY(-3px) translateX(2px);
  }

  66% {
    transform: translateY(2px) translateX(-1px);
  }
}

.animate-float-slow {
  animation: float-slow 8s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}